:root {
  --couleur-blanche: white;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/papier-parchemin-veilli.png");
}

.heure-fond {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  opacity: 0.1; /* pour que ça fasse "arrière-plan" */
  pointer-events: none; /* pour éviter de gêner les clics */
  z-index: -1;
}

h1,
p {
  font-family: "Playfair Display";
}

.info-canvas-enveloppe {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--couleur-blanche);
  pointer-events: none;
  z-index: 2;
}

.titre-site {
  position: fixed;
  top: 0%;
  left: 0%;
  font-size: 10rem;
  padding: 0 3rem;
  text-align: center;
  color: var(--couleur-blanche);
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.titre-visible {
  opacity: 1;
  transform: translateY(0);
}

.titre-disparait {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

/*//////////////HEADER//////////////*/
header {
  position: relative;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.menu .barre-navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu li a {
  text-decoration: none;
  color: var(--couleur-blanche);
  font-size: 2rem;
}

/*/ /////////////MAIN//////////////*/

/* Canvas pour Three.js */

#enveloppe-canvas {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/arrière-plan-nuit.png");
  background-size: cover; /* Couvre tout l'écran */
  background-position: center;
}

#machine-canvas {
  z-index: 1;
  /* background-image: url("../images/arrière-plan-nuit.png"); */
}

.entete {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.entete h1 {
  font-size: 7rem;
}

/*Styles pour le texte de la lettre*/

.revelation-texte {
  display: flex;
  flex-direction: column; /* Aligne les h2 les uns sous les autres */
}

.revelation-texte h2 {
  font-size: 2vw; /* La taille du texte s'adapte à la largeur de la fenêtre */
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  font-family: "Grechen Fuemen", serif;
}

.revelation-texte span {
  opacity: 0;
  transform: translateY(10px);
  display: inline-block;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.revelation-texte span.visible {
  opacity: 1;
  transform: translateY(0);
}

#scene1 {
  width: 50%;
  height: auto;
  float: right;
}

#scene2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .revelation-texte h2 {
    font-size: 1rem; /* Taille plus grande pour les écrans plus petits */
  }
}
