:root {
  --couleur-blanche: white;
}

body {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(to right, #520052, #cf04cf); */
  /* background-image: url("../images/arrière-plan-nuit.png"); */
  background-image: url("../images/papier-parchemin-veilli.png");
}

.heure-fond {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  opacity: 0.1; /* pour que ça fasse "arrière-plan" */
  pointer-events: none; /* pour éviter de gêner les clics */
}

/*//////////////HEADER//////////////*/
header {
  position: relative;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.menu .barre-navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.menu li a {
  text-decoration: none;
  color: var(--couleur-blanche);
  font-size: 2rem;
}

/*/ /////////////MAIN//////////////*/
main {
  /* display: flex;
  justify-content: center; */
  /* background-color: red; */
}
/* Canvas pour Three.js */

#three-canvas {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}

/* #machine-canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
} */

.entete {
  /* background-color: aqua; */
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.entete h1 {
  font-size: 7rem;
}
.entete h2 {
  font-size: 4rem;
}
/*Section 1 : règles en fonction du physique pour être désirable*/
.regles-physiques {
  position: relative;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.regles-physiques h1 {
  text-align: center;
  font-size: 6rem;
}

.recs {
  display: flex;
  flex-direction: column;
}
.contenu-rec {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.contenu-rec.visible {
  opacity: 1;
  transform: translateY(0);
}

.rec {
  border: 1px solid var(--couleur-noire);
  width: 400px;
  height: 330px;
  background-color: chartreuse;
}
.contenu-rec:nth-child(even) {
  flex-direction: row-reverse;
}

/*/ /////////////FOOTER//////////////*/
/* footer {
  width: 100%;
  height: 10vh;
  background-color: var(--couleur-noire);
}
footer h1 {
  color: white;
} */
